<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tweets</title>
</head>
<body>
    {% set fieldsOrder = ["Human","FastText","DeepLearn","FastText+","DeepLearn+","Id","Date","User","Tweet"] %}
    {% set pageSizes = ["10","25","50","100"] %}
    <p>
    <form action="{{ URL }}" method="post">
    <input type="hidden" name="page" id="page" value="{{ page }}"/>
    <strong>Human label</strong>:
    <select name="human" onchange="this.form.submit()">
        <option value=""></option>
        {% for l in labels|dictsort(false,'value') %}
            {% if l[1] != "ERROR" %}
                <option value="{{ l[1] }}" 
                {% if l[1] == human %} 
                selected 
                {% endif %}
                >{{ l[1] }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <strong>FastText label</strong>:
    <select name="fasttext" onchange="this.form.submit()">
        <option value=""></option>
        {% for l in labels|dictsort(false,'value') %}
	    {% if l[1] != "ERROR" %}
                <option value="{{ l[1] }}" 
                {% if l[1] == fasttext %} 
                selected 
                {% endif %}
                >{{ l[1] }}</option>
            {% endif %}
	{% endfor %}
        <option value="SAMEDEEP"
  	    {% if fasttext == "SAMEDEEP" %}
            selected
            {% endif %}
	>Same as DeepLearn</option>
        <option value="DIFFDEEP"
  	    {% if fasttext == "DIFFDEEP" %}
            selected
            {% endif %}
	>Different from DeepLearn</option>
    </select>
    <strong>DeepLearn label</strong>:
    <select name="deeplearn" onchange="this.form.submit()">
        <option value=""></option>
        {% for l in labels|dictsort(false,'value') %}
            {% if l[1] != "ERROR" %}
                <option value="{{ l[1] }}" 
                {% if l[1] == deeplearn %} 
                selected 
                {% endif %}
                >{{ l[1] }}</option>
            {% endif %}
        {% endfor %}
        <option value="SAMEFAST"
  	    {% if deeplearn == "SAMEFAST" %}
            selected
            {% endif %}
	>Same as FastText</option>
	<option value="DIFFFAST"
  	    {% if deeplearn == "DIFFFAST" %}
            selected
            {% endif %}
	>Different from FastText</option>
    </select>
    <strong>Fields</strong>:
    <select name="fields" onchange="this.form.submit()">
        <option value=""></option>
        {% for key in fieldsOrder %}
	<option value="{{ key }}">
            {% if fieldsShow[key] %}
            SHOWN
	    {% else %}
	    HIDDEN
            {% endif %}
            {{ key }}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="fieldsStatus" id="fieldsStatus" value="{{ fieldsStatus }}" />
    <strong>Page size</strong>:
    <select name="size" onchange="this.form.submit()">
        {% for key in pageSizes %}
        <option value="{{ key }}"
	{% if key|int == pageSize|int %}
	selected
	{% endif %}
	>{{ key }}</option>
        {% endfor %}
    </select>
    <strong>User</strong>: {{ username }}
    (<a href="{{ URL }}?logout">logout</a>)
    <p>
    <hr>
    Found: {{ nbrOfSelected }} items.
    Page:
    {% for p in range(minPage,maxPage+1) %}
	{% if p == page %}
	<strong>{{ p }}</strong>
	{% else %}
	<a href="{{ URL }}/?page={{ p }}&fasttext={{ fasttext }}&deeplearn={{ deeplearn }}&human={{ human }}&&fieldsStatus={{ fieldsStatus }}">{{ p }}</a>
	{% endif %}
	{% endfor %}
    {% if nbrOfSelected > 0 %}
    <hr>
    <p>
    <font size="3">
    <table>
        <tr>
	    <th align="left"></th>
	{% for key in fieldsOrder %}
	    {% if fieldsShow[key] %}
	    <th align="left">{{ key }}</th>
	    {% endif %}
	{% endfor %}
	</tr>
    {% set index = [] %}
    {% for item in data %}
        {% if loop.index0 in selected %}
        {% set key = loop.index0 %}
        {% set __ = index.append(1) %}
        <tr>
	    <td align="right">{{ key+1 }}.</td>
	    {% if fieldsShow["Human"] %}
	    <td>
	       <select name="data{{ index|length }}" onchange="this.form.submit()">
		       <option value="{{ key ~ " " }}"></option>
	       {% for l in labels|dictsort(false,'value') %}
	       {% if l[1] != "ERROR" %}
	       <option value="{{ key ~ " " ~ l[1] }}"
	       {% if humanLabels[key] == l[1] %}
	       selected
	       {% endif %}
		>{{ l[1] }}</option>
	       {% endif %}
	       {% endfor %}
	       </select>
	    </td>
	    {% endif %}
	    {% if fieldsShow["FastText"] %}
	    <td>{{ labels[item[0]] }}</td>
	    {% endif %}
	    {% if fieldsShow["DeepLearn"] %}
	    <td>{{ labels[item[1]] }}</td>
	    {% endif %}
	    {% if fieldsShow["FastText+"] %}
	    <td>{{ item[2] }}</td>
	    {% endif %}
	    {% if fieldsShow["DeepLearn+"] %}
	    <td>{{ item[3] }}</td>
	    {% endif %}
	    {% if fieldsShow["Id"] %}
	    <td>{{ item[4] }}</td>
	    {% endif %}
	    {% if fieldsShow["Date"] %}
	    <td>{{ item[5] }}</td>
	    {% endif %}
	    {% if fieldsShow["User"] %}
	    <td>{{ item[6] }}</td>
	    {% endif %}
	    {% if fieldsShow["Tweet"] %}
	    <td><a href="http://twitter.com/{{ item[6] }}/status/{{ item[4] }}">{{ item[7] }}</a></td>
	    {% endif %}
	</tr>
        {% endif %}
    {% endfor %}
    </table>
    </font>
    <hr>
    Found: {{ nbrOfSelected }} items.
    Page:
    {% for p in range(minPage,maxPage+1) %}
	{% if p == page %}
	<strong>{{ p }}</strong>
	{% else %}
	<a href="{{ URL }}/?page={{ p }}&fasttext={{ fasttext }}&deeplearn={{ deeplearn }}&human={{ human }}&&fieldsStatus={{ fieldsStatus }}">{{ p }}</a>
	{% endif %}
    {% endfor %}
    <hr>
    {% endif %}
    </form>
</body>
</html>
